body{
    background-color: aqua;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 400px 0 400px;
    padding: 10px;
    border-radius: 1rem 0 1rem 0;
    box-shadow: 2px 3px black;

}

input{
    display: flex;
    /* flex-direction: column; */
    margin-top: 12px;
    width: 150px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 7px;

}

input[type="submit"]{
    background-color: green;
    width: 160px;
    border: none;
    padding: 10px;
    outline: none;
    border-radius: 4px;
    color: white;
    font-weight: 700;
    font-size: 18px;
}

input[type="submit"]:hover{
    background-color: palegreen;
    color: black;
    cursor: pointer;
}
h2{
    color: green;
    font-weight: bolder;
}